.media-library-container {
  padding-bottom: 20px;
  .media-library-serach-container {
    padding: 20px;
  }

  .media-library-list-container {
    background-color: #f9f9f9;
    padding: 20px;
  }
}
