<div class="media-library-container">
  <div class="media-library-serach-container">
    <div class="row">
      <div class="col-sm-6">
        <app-search-filter [searchText$]="searchText$" (change)="onSearchTextChange.next($event)"></app-search-filter>
      </div>
    </div>
  </div>
  <div class="media-library-list-container">
    <div class="row">
      <div class="col">
        <app-type-filter [type$]="type$" (change)="onTypeChange.next($event)"></app-type-filter>
      </div>
      <div class="col">
        <app-sort-select [sort$]="sort$" (change)="onSortChange.next($event)"></app-sort-select>
      </div>
      <div class="col mb-2">
        <button class="btn btn-secondary"(click)="clearFilter()" style="position: absolute; bottom: 10px;">Clear</button>
      </div>
      <div class="col">
        <app-order-select [order$]="order$" (change)="onOrderChange.next($event)"></app-order-select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of filteredItems$ | async">
            <span>{{item.name}}</span>
            <small class="text-gray"> ({{item.type}})</small>
            <small> {{item.uploadedAt | date}}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
